<h1>NaibAmir</h1>
@*@if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <p class="alert alert-dismissible welcomemsg" role="alert">@ViewBag.Message</p>
    }*@

<div class="card">
    <div class="card-header">
        <a class="btn btn-success option" asp-controller="NaibAmir" asp-action="PendingApplicationsFocus">View Pending Applications</a>
    </div>
</div>