<h1>Amir</h1>


<div class="card">
    <div class="card-header">
        <a class="btn btn-success option" asp-controller="Amir" asp-action="PendingApplicationsFocus">View Pending Applications</a>
    </div>
</div>