<h1>Admin</h1>
@*@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p class="alert alert-dismissible welcomemsg" role="alert">@ViewBag.Message</p>
}*@


<div class="card">

    <div class="card-header">
        <a class="btn btn-success option" asp-controller="ApplicationForm" asp-action="PendingApplications">View Pending Applications</a>
    </div>

    @*<div class="card-header">
        <a class="btn btn-success" asp-controller="Circuit" asp-action="Create">Create Circuit</a>
    </div>


    <div class="card-header">
        <a class="btn btn-success" asp-controller="Jamaat" asp-action="Create">Create Jamaat</a>
    </div>*@

</div>




