<h1>Welcome to Admin dashboard</h1>

<a asp-controller="ApplicationForm" asp-action="UpdateProgress">View Pending Applications</a>

<div class=" card-header">
    <a class="btn btn-success" asp-controller="Circuit" asp-action="Create">Create Circuit</a>
</div>


<div class=" card-header">
    <a class="btn btn-success" asp-controller="Jamaat" asp-action="Index">Create Jamaat</a>
</div>
