<h1>New Candidate</h1>
@*@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p class="alert alert-warning alert-dismissible" role="alert">@ViewBag.Message</p>
}*@
<div>
    <a class="btn btn-success option text-center align-content-sm-center"   asp-controller="Student" asp-action="NewCandidate">Apply For Scholarship-Fresh Candidate</a>
</div>





