<h1>New Candidate</h1>
@*@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p class="alert alert-warning alert-dismissible" role="alert">@ViewBag.Message</p>
}*@
<div>
    <a asp-controller="Student" asp-action="NewCandidate">Apply For Scholarship-Fresh Candidate</a>
</div>

@*<div>
    <a asp-controller="ApplicationForm" asp-action="EditProfile">Student-Edit Student Profile</a>
</div>
<div>
    <a asp-controller="Student" asp-action="EditApplication">Student-Edit Student Application</a>
</div>*@


