@model ScholarshipManagement.Data.CreateStudentRequestModel
@{
    ViewData["Title"] = "Student Registration";
}

<div class="row justify-content-center mt-5">

    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">@ViewData["Title"]</h4>
            </div>
           
            <div class="card card-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-row">

                        <div class="form-group col-lg-4">
                            <label asp-for="MemberCode"></label>
                            <input type="text" asp-for="MemberCode" class="form-control" />
                            <span asp-validation-for="MemberCode"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="SurName"></label>
                            <input type="text" asp-for="SurName" class="form-control" />
                            <span asp-validation-for="SurName"></span>
                        </div>

                        <div class="form-group col-lg-4">
                            <label asp-for="FirstName"></label>
                            <input type="text" asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName"></span>
                        </div>

                        <div class="form-group col-lg-4">
                            <label asp-for="OtherName"></label>
                            <input class="form-control" type="text" asp-for="OtherName" />
                            <span asp-validation-for="OtherName"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input class="form-control" type="text" asp-for="Address" />
                        <span asp-validation-for="Address"></span>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="JamaatId"></label>
                            <select asp-for="JamaatId" class="form-control" asp-items="ViewBag.Jamaats">
                                <option selected>-- Select Jamaat --</option>
                            </select>
                            <span asp-validation-for="JamaatId"></span>
                        </div>

                        <div class="form-group col-lg-4">
                            <label asp-for="CircuitId"></label>
                            <select asp-for="CircuitId" class="form-control" asp-items="ViewBag.Circuits">
                                <option selected>-- Select Circuit --</option>
                            </select>
                                <span asp-validation-for="CircuitId"></span>
                        </div>

                        <div class="form-group col-lg-4">
                            <label asp-for="AuxiliaryBody"></label>
                            <select asp-for="AuxiliaryBody" class="form-control">
                                <option value="1">MajlisKhuddam</option>
                                <option value="2">Lajnah</option>
                                <option value="3">MajlisAnsarullah</option>
                                <option value="4">MajlisAtfal</option>
                                <option value="5">Nasrat</option>
                                <option value="6">NonMember</option>
                            </select>
                            <span asp-validation-for="AuxiliaryBody"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label asp-for="Gender"></label>

                            <select asp-for="Gender" class="form-control">
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            <span asp-validation-for="Gender"></span>
                        </div>

                        <div class="form-group col-lg-6">
                            <label asp-for="DateOfBirth"></label>
                            <input class="form-control" type="date" asp-for="DateOfBirth" />
                            <span asp-validation-for="DateOfBirth"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label asp-for="GuardianFullName"></label>
                            <input class="form-control" type="text" asp-for="GuardianFullName" />
                            <span asp-validation-for="GuardianFullName"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label asp-for="GuardianPhoneNumber"></label>
                            <input class="form-control" type="text" asp-for="GuardianPhoneNumber" />
                            <span asp-validation-for="GuardianPhoneNumber"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label asp-for="GuardianMemberCode"></label>
                            <input class="form-control" type="text" asp-for="GuardianMemberCode" />
                            <span asp-validation-for="GuardianMemberCode"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="userphoto">Choose Photo</label>
                            <input class="form-control" type="file" id="userphoto" name="files" />
                        </div>
                    </div>

                    <input type="submit" class="btn btn-success" value="Continue" />

                </form>
            </div>
        </div>
    </div>

</div>
