@model ScholarshipManagement.Data.DTOs.ApplicationFormDto
@{
    ViewData["Title"] = "Application Details";
}

<div class="row justify-content-center mt-5">

    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">@ViewData["Title"]</h4>
            </div>
            <div class="card card-body">
                <form method="POST">
                    <div class="form-row">
                        <div class="form-group col-lg-4">  
                        </div>
                        <div class=" form-row">
                            <div class="form-group col-lg-4">
                                <label asp-for="NameOfSchool"></label>
                                <input type="text" readonly asp-for="NameOfSchool" class="form-control" />
                                <span asp-validation-for="NameOfSchool"></span>
                                
                            </div>

                            <div class="form-group col-lg-4">
                                <label asp-for="AcademicLevel"></label>
                                <input readonly type="text" asp-for="AcademicLevel" class="form-control" />
                                <span asp-validation-for="AcademicLevel"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="SchoolSession"></label>
                                <input class="form-control" readonly type="text" asp-for="SchoolSession" />
                                <span asp-validation-for="SchoolSession"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="Discipline"></label>
                            <input class="form-control" readonly type="text" asp-for="Discipline" />
                            <span asp-validation-for="Discipline"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="Duration"></label>
                            <input class="form-control" readonly type="text" asp-for="Duration" />
                            <span asp-validation-for="Duration"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="DegreeInView"></label>
                            <input class="form-control" readonly type="text" asp-for="DegreeInView" />
                            <span asp-validation-for="DegreeInView"></span>
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-lg-4">
                            <label asp-for="DateAdmitted"></label>
                            <input class="form-control" readonly type="date" asp-for="DateAdmitted" />
                            <span asp-validation-for="DateAdmitted"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="YearToGraduate"></label>
                            <input class="form-control" type="date" readonly asp-for="YearToGraduate" />
                            <span asp-validation-for="YearToGraduate"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="AmountRequested"></label>
                            <input class="form-control" type="text" readonly asp-for="AmountRequested" />
                            <span asp-validation-for="AmountRequested"></span>
                        </div>
                        
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="SchoolBill">School Bill</label>
                            <a href="/UploadedFiles/SchBill/@Model.SchoolBill" target="_blank">Open</a>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="LetterOfAdmission">Letter of Admission</label>
                            <a href="/UploadedFiles/AdmissionLetter/@Model.LetterOfAdmission" target="_blank">Open</a>
                        </div>

                        <div class="form-group col-lg-4">
                            <label asp-for="LastSchoolResult">Last School Result</label>
                            <a href="/UploadedFiles/SchResult/@Model.LastSchoolResult" target="_blank">Open</a>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="BankAccountNumber"></label>
                            <input class="form-control" id="bankacct" onkeyup="checkLength(event)" type="text" readonly asp-for="BankAccountNumber" maxlength="10" />
                            <span readonly asp-validation-for="BankAccountNumber"></span>
                        </div>

                        <div class="form-group col-lg-4">
                            <label readonly asp-for="BankAccountName"></label>
                            <input class="form-control" readonly type="text" asp-for="BankAccountName" />
                            <span asp-validation-for="BankAccountName"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="BankName"></label>
                            <input class="form-control" readonly type="text" asp-for="BankName" />
                            <span asp-validation-for="BankName"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
    function checkLength(event) {
        let bank = document.getElementById('bankacct');
        if (typeof bank.value != Number) {
            document.getElementById('err').innerHTML = "Bank account can't contain alphabets";
        }
        if (bank.value.length > 10) {
            document.getElementById('err').innerHTML = "Bank account can't be greater than 10";
            event.preventDefault();
        }

    }
</script>
