<h1>Secretariat</h1>
@*@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p class="alert alert-dismissible welcomemsg" role="alert">@ViewBag.Message</p>
}*@

<div class="card">
         <div class="card-header">
            <a class="btn btn-success option" asp-controller="Application" asp-action="PendingApplications">View Pending Applications</a>
        </div>
</div>