@model ScholarshipManagement.Data.DTOs.CircuitDto

@{
    ViewData["Title"] = "Update Circuit";
}

<div class="row justify-content-center">

    <div class="col-md-7 mt-5">
        <div class="card formcard">
            <div class="card-header formheader">
                <h4 class="text-center formlabel ">@ViewData["Title"]</h4>
            </div>
            <div class="card card-body formcard">
                <a class="text-danger  text-lg-right font-weight-bold" asp-controller="Circuit" asp-action="Index">---Dashboard</a>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <p class="alert alert-warning alert-dismissible bg-danger text-white text-center" id="successUser" role="alert">@ViewBag.Message</p>
                }
                <form method="Post">
                    <div class="form-row">
                        <div class="form-group col-lg-6">
                            <label class="formlabel" asp-for="CircuitName"></label>
                            <input type="text" id="fullname" asp-for="CircuitName" class="form-control" />
                            <span asp-validation-for="CircuitName"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="formlabel" asp-for="Email"></label>
                            <input type="text" id="fullname" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email"></span>
                        </div>

                    </div>
                    <div class="form-row justify-content-center">
                        <input type="submit" id="submitbtn" class="btn btn-success text-white formlabel" value="Update" />
                    </div>

                </form>
            </div>
            
        </div>
    </div>

</div>



